html{
    
    background-color:white;
}

body{ 
    margin:0 auto;
    max-width: 599px;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #2f3437;
}

table{
    border-collapse: collapse;
    border:1px solid black;
    width: 100%;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom: 1px solid black;
    
}

td,th{
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom: 1px solid black;
    padding: 8px;
}

.pagina{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "html"
        "css"
        "semantica"
        "flexbox"
        "grid"
        "git"
        "projetos"
        "contato"
        "rodape" ;
}


.cabecalho{
    display:grid;
    place-items: center;
    grid-template-areas:
         "icone"
        "usuario"
         "curso"
         "turma";
    background-color:rgb(220, 231, 220);
    border-left: solid 5px green;
    padding: 32px 16px 16px 8px;
}

   .icone{
    display:flex;
    place-content: center;
    grid-area:icone;
    width: 75px;
    height: 75px;
    background-color: green;
    padding: space-around;
    border-radius:10px;
    }
    .icone h1{
        color:white"
    }
    .usuario{
    text-align:center;
    grid-area:usuario;
    margin-bottom:0px;
    padding-bottom: 0px;
    }
    .curso{
    grid-area:curso;
    margin-top:0px;
    color: green;
    
    }
    .turma{
    grid-area:turma;
    color:grey;
    margin-top: 8px;
    padding:0%;
    }

.cartoes{
  display: grid;
  gap: 16px;
  margin: 32px 0;
  flex-wrap: wrap;
}

.html {
  grid-area:html;
  border-top: 5px solid green; 
  padding:  2px 20px 16px 20px;
  margin: 32px 16px 16px 16px;
  border-left: 1px solid rgb(153, 153, 137);
  border-right: 1px solid rgb(153, 153, 137);
  border-bottom: 1px solid rgb(153, 153, 137);
}
.css {
  grid-area:css;
  border-top: 5px solid green; 
  padding:  2px 20px 16px 20px;
  margin: 32px 16px 16px 16px;
  border-left: 1px solid rgb(153, 153, 137);
  border-right: 1px solid rgb(153, 153, 137);
  border-bottom: 1px solid rgb(153, 153, 137);
}
.semantica {
  grid-area:semantica;
 
  border-top: 5px solid green; 
  padding:  2px 20px 16px 20px;
  margin: 32px 16px 16px 16px;
  border-left: 1px solid rgb(153, 153, 137);
  border-right: 1px solid rgb(153, 153, 137);
  border-bottom: 1px solid rgb(153, 153, 137);
}
.flexbox {
  grid-area:flexbox;
  border-top: 5px solid green; 
  padding:  2px 20px 16px 20px;
  margin: 32px 16px 16px 16px;
  border-left: 1px solid rgb(153, 153, 137);
  border-right: 1px solid rgb(153, 153, 137);
  border-bottom: 1px solid rgb(153, 153, 137);
}
.grid {
  grid-area: grid;
  border-top: 5px solid green; 
  padding:  2px 20px 16px 20px;
  margin: 32px 16px 16px 16px;
  border-left: 1px solid rgb(153, 153, 137);
  border-right: 1px solid rgb(153, 153, 137);
  border-bottom: 1px solid rgb(153, 153, 137);
}
 .git{
  grid-area: git;
  border-top: 5px solid green; 
  padding:  2px 20px 16px 20px;
  margin: 32px 16px 16px 16px;
  border-left: 1px solid rgb(153, 153, 137);
  border-right: 1px solid rgb(153, 153, 137);
  border-bottom: 1px solid rgb(153, 153, 137);
}
 .projetos{
  grid-area: projetos;
}

.contato{
  grid-area: contato;
  border-top: 5px solid green; 
  padding:  2px 20px 16px 20px;
  margin: 32px 16px 16px 16px;
  border-left: 1px solid rgb(153, 153, 137);
  border-right: 1px solid rgb(153, 153, 137);
  border-bottom: 1px solid rgb(153, 153, 137);
}
.cartao h2{
  margin-top: 16px;
  margin-bottom: 6px; 
}

.cabecatabela{
background-color: lightgreen;
border-bottom:5px solid green;
}

.rodape{
    grid-area:rodape;
}