html{
    
    background-color:#f0eaf8;
}

body{ 
 
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #2f3437;
}

table{
    border-collapse: collapse;
    width: 100%;
    border:solid 2px #dcd8d0;
    border-top:none;
   
    
    
}

td,th{
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom: 2px solid #dcd8d0;
    padding: 8px;
}
tr:nth-child(even){
  background-color: #faf8f4 ;
}

.pagina{
  
  background-color: white;
    margin:auto;
    padding: 40px;
    max-width:599px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "html"
        "css"
        "semantica"
        "flexbox"
        "grid"
        "git"
        "projetos"
        "contato"
        "rodape";
}


.cabecalho{
    display:grid;
    grid-column: cabecalho;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
        "icone"
        "info";
    background-color:#1b2733;
    padding: 32px 16px 16px 8px;
    border-radius: 6px;
}
.cabecalho h1{
  color: white;
}

   .icone{
    text-align: center;
    grid-area:icone;
    width: 75px;
    height: 75px;
    background-color:#324d68;
    padding: space-around;
    border-radius:50px;
    }
    .icone h1{
      font-size: 32px;
        color:white;
    }
    .info{
    color:#324d68;
    text-align:center;
    grid-area:info;
    margin-bottom:0px;
    padding-bottom: 0px;
    line-height: 1.2;
    
    }
    .info em{
      color:#e0a458;
      margin:0;
    }
    .info h1{
      padding-bottom:0;
      margin-bottom: 0;
               
    }
.conteudo{
  grid-area:conteudo;
  padding:  2px 0px 0px 0px;
}
.conteudo h2 {
    color: #1b2733;
    margin-top: 48px;
    padding-left: 14px;
    border-left: 5px solid #c8553d;
}

.html,.css,.semantica,.git,.flexbox,.grid{
  margin: 32px 16px 16px 16px;
  min-width: 150px;
  padding: 2px 20px 16px 20px;
  border: 2px solid #dcd8d0;
  border-radius: 6px;
  background-color: #faf8f4;
}
.css h2,.semantica h2,.git h2,.grid h2,.flexbox h2,.html h2{
  margin-top: 16px;
  margin-bottom: 6px;
  color: #c8553d;
}

.html,.css,.semantica,.git,.grid,.flexbox {
  color: #2f3437;
}

.html{
  grid-area:html;
}

.css {
  grid-area:css;
}

.semantica {
  grid-area:semantica; 
}

.flexbox {
  grid-area:flexbox;
}

.grid {
  grid-area: grid;
}
 .git{
  grid-area: git;
  
}
 .projetos{
  grid-area: projetos;
}
.projetos h2{
    color: #1b2733;
    margin-top: 48px;
    padding-left: 14px;
    border-left: 5px solid #c8553d;
}

.contato{
  grid-area: contato;
  background-color: rgb(222, 235, 240); 
  padding:  2px 20px 16px 20px;
  margin: 32px 16px 16px 16px;
  border-radius: 6px;
}
.contato h2 {
    color: #1b2733;
    margin-top: 48px;
    padding-left: 14px;
    border-left: 5px solid #c8553d;
}

.contato a{
 color:dodgerblue;
}


.cabecatabela{
background-color:#1b2733;
color:white;

}

.rodape{
  display: grid;
    grid-area:rodape;
    grid-template-columns: 1;
    grid-template-areas: 
         "rodape1"
         "rodape2";
    background-color: #dcd8d0;
    color: #726f69;
    margin-left: 32px auto;
    border-radius: 6px;
    border: #dcd8d0 solid 5px ;
}
.rodape1{
  font-size:15px;
  text-align: left;
  grid-area:rodape1;
  margin-left: 32px auto;
}
.rodape2 {
  font-size:15px;
  text-align: left;
  grid-area: rodape2;
  margin-right: 32px auto;
}

@media only screen and (min-width:600px){

.pagina{
  
  grid-template-columns: auto auto;
  grid-template-areas:
 "cabecalho cabecalho"
 "conteudo conteudo"
 "html css"
 "semantica flexbox"
 "grid git"
 "projetos projetos"
 "contato contato"
 "rodape rodape" ;
}

.rodape{
  
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "rodape1 rodape2";
}
.rodape2 {
  text-align: right;
}
.cabecalho{
    place-content: left;
    grid-template-columns: 75px 1fr;
    grid-template-areas:
         "icone info";
    padding: 8px 16px 16px 16px;
     column-gap: 16px;

}

.icone{
 justify-self:left;
 margin:8px;
}
.info{
  justify-self: left;
  text-align:left;
}

}
@media only screen and (min-width:900px){
  
  .pagina{  
    min-width: 900px;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: 
    "cabecalho cabecalho cabecalho cabecalho"
    "conteudo conteudo conteudo contato"
    "html css semantica . "
    "flexbox grid git .  "
    "projetos projetos projetos ."
    "rodape rodape rodape rodape";
  } 
  .contato{
    width:75%;
    grid-row: 2/ span 2;
    font-size: 13px;
    
  }
}